<a href="#" class="next"></a>
<a href="#" class="prev"></a>
<h3>Phasellus luctus dignissim</h3>
<div class="car_div">
    <ul class="carousel1">
        <li>
            <img src="{{ asset('images/home_img1.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Mauris accumsan nulla vel diam</strong></p>Mauris accumsan nulla vel
            diamIn pede mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
        <li>
            <img src="{{ asset('images/home_img2.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Fusce euismod consequat ante</strong></p>Mauris accumsan nulla vel diamIn
            pede mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
        <li>
            <img src="{{ asset('images/home_img3.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Pellentesque sed dolor</strong></p>Mauris accumsan nulla vel diamIn pede
            mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
        <li>
            <img src="{{ asset('images/home_img1.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Mauris accumsan nulla vel diam</strong></p>Mauris accumsan nulla vel
            diamIn pede mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
        <li>
            <img src="{{ asset('images/home_img2.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Fusce euismod consequat ante</strong></p>Mauris accumsan nulla vel diamIn
            pede mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
        <li>
            <img src="{{ asset('images/home_img3.jpg') }}" alt="" class="img_inner">
            <p class="p1"><strong>Pellentesque sed dolor</strong></p>Mauris accumsan nulla vel diamIn pede
            mi
            liquet sit amet, euismod.<br>
            <a href="#" class="btn">Read More</a></li>
    </ul>
</div>
